<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2013-07-17T06:11:25Z</date>
	<key>MissingFilePaths</key>
	<array>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_keyboard.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_config_android.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_types.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_touch.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_haptic.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_rwops.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_cpuinfo.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_config_wiz.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_main.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_config.h.in</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/close_code.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_config_iphoneos.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_stdinc.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_audio.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_error.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_syswm.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_platform.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_quit.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/build/Debug-iphoneos/___PROJECTNAME___.app</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_assert.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/begin_code.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_thread.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/libSDL.a</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_copying.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_rect.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_events.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_gesture.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_surface.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_config_pandora.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_revision.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_scancode.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/doxyfile</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_timer.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_opengles.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_loadso.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_config.h.default</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_pixels.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_mutex.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_config_minimal.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_config_windows.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_name.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_shape.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/build/Debug-iphoneos/puyomac.app</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_atomic.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_config_macosx.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_config_nintendods.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_opengl.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_clipboard.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_power.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_video.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_config.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_joystick.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_endian.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_scalemode.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_compat.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_input.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_mouse.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_version.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_blendmode.h</string>
		<string>/Users/anaya/Develop/PuyoPuyoIphone/puyopuyo/SDL_keysym.h</string>
	</array>
	<key>Version</key>
	<integer>4</integer>
</dict>
</plist>
